.container__login {
    display: flex;
    justify-content: center;
   
}

#sign-in-form {
    max-width: 500px;
     margin-top: 5em;
     height: 89vh;
  }
  
  .bootstrap-logo {
    width: 72px;
    height: 72px;
  }
  
  .form-control:focus {
    z-index: 5;
  }

  .enterAccount__title {
    font-weight: bolder !important;
  }

  .btn__signIn {
    background: #f7a20e;
    border: none;
  }
  .btn__signIn:hover {
    background: #ffc259;
  }
  .btn__signIn:active  {
    background: #d8bf92;
  }

  .create__account {
    color: #f7a20e !important;
    text-decoration:none;
  }

  
  #err__msg{
    color: rgba(255, 0, 0, 0.692);
    text-align: center;
    margin-top: 1em;
  }

  