.container__login {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

#sign-in-form {
  border: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
    max-width: 500px;
    margin-top: 5em;
  }
  
  .bootstrap-logo {
    width: 72px;
    height: 72px;
  }
  
  .form-control:focus {
    z-index: 5;
  }

  .enterAccount__title {
    font-weight: bolder !important;
  }
  .rememberMe {
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 2em;
    color: #f7a20e;
  }

  .btn__signIn {
    background: #f7a20e;
    border: none;
  }
  .btn__signIn:hover {
    background: #ffc259;
  }
  .btn__signIn:active  {
    background: #d8bf92;
  }

  .create__account {
    color: #f7a20e !important;
    text-decoration:none;
  }

  
  #err__msg{
    color: rgba(255, 0, 0, 0.692);
    text-align: center;
    margin-top: 1em;
  }

  .inputsRegister {
    background: #ffffff6c;
  }

  