.user__container {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  padding: 2em;
  border: 3px solid rgb(255, 253, 253);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #ffffffae;
  border-radius: 10px;
}

.profile__title {
    color: #f7a20e;
    margin: .5em;
    padding: .5em;
}

.custom__form__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}

#container__avatar {
    display: flex;
}

#input__img {
  margin-top: 2em;
  margin-left: 2em;
 
}

#dltImg__container {
  margin: 1em;
}

.form__user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.container__group, .container__last__group{
  display: flex;
  gap: 1em;
}

#birthdate, #address{
  width: 270px;
}
#gender {
  width: auto;
  margin-left: 11em;
}
#password {
  width: 300px;
}


.newImg__avatar__profile {
  width: 200px;
  height: 200px;
}

#label {
  padding-bottom: 0.5em;
}

#btn__saveAll {
  margin-top: .5em;
  cursor: pointer;
  color: #fff;
  background: #f7a20e;
  border: none;
  margin-bottom: 1em;
}

#btn__saveAll:hover {
  background: #ffbe4d;
}

#btn__saveAll:active {
  background: #d8bf92;
}

.signout__register {
  margin-left: 1em;
  color: #f7a20e;
}

.signout__register:hover {
  color: #ffbe4d;
}

.signout__register:active {
  color: #d8bf92;
}

.msg__signout__account {
  text-align: center;
  margin: 1em;
}

.newImg__avatar__profile {
  display: flex;
  justify-content: end;
  margin-top: 2em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}