.user__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 3em;
  padding: 2em;
  border: 3px solid rgb(255, 253, 253);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #ffffffae;
  border-radius: 10px;
}
/* .custom__form__user{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.profile__title {
  display: block;
    color: #f7a20e;
    margin: .5em;
    padding: .5em;
}

.form__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
}

#container__avatar {
  display: flex;
  justify-content: center;
  display: block;
  background: #fff6e6;
  border: 5px dashed #ffbe4d;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.span__img{
  display: flex;
  justify-content: center;
  color:  #f7a20e;
  font-style: italic;
  font-size: 20px;
}
#input__img {
  width: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.file-input-label{
  position: relative;
  width: 100%;
}
#image__container{
  display: flex;
  justify-content: center;
}
.form-label {
  margin-top:  .5em;
}

#dltImg__container {
display: flex;
justify-content: center;
padding-top: 1em;
}

.newImg__avatar__profile {
  width: 200px;
  height: 200px;
}

#btn__saveAll {
  margin-top: 1em;
background: #f7a20e;
border: none;
}

#btn__saveAll:hover {
  background: #ffbe4d;
}

#btn__saveAll:active {
  background: #d8bf92;
}

.signout__register {
  margin-left: 1em;
  color: #f7a20e;
}

.signout__register:hover {
  color: #ffbe4d;
}

.signout__register:active {
  color: #d8bf92;
}

.msg__signout__account {
  text-align: center;
  margin: 1em;
}

.newImg__avatar__profile {
  display: flex;
  justify-content: end;
  margin-top: 2em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}