

.user__container {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  border: 3px solid rgb(255, 253, 253);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #ffffffae;
  border-radius: 10px;
  
}

.form__user{
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-left: 1em;
}

.custom__form__user {
  display: flex;
  flex-wrap: wrap;
}
#container__avatar {
  margin-right: 20em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.profile__title{
  display: flex;
  margin: 1em;
  padding: 1em;
  color: #f7a20e;
}

.container__group{
  display: flex;
  gap: 2em;
}

#email, #city, #birthdate, #address{
  width: 280px;
}
#gender, #password {
  width: 300px;
}
#postCode {
  width: 300px;
}

.container__last__group{
  width: 300px;
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

.newImg__avatar {
  width: 150px;
  height: 150px;
}

#label {
  padding-bottom: .5em;
}

.btn__user {
  color: #fff;
  background: #f7a20e;
  border: none;
  margin-bottom: 1em;
}

.btn__user:hover {
  background: #ffbe4d;
}

.btn__user:active {
  background: #d8bf92;
}

.signout__register{
  margin-left: 1em;
  color: #f7a20e;
}
.signout__register:hover{
  color: #ffbe4d;
}
.signout__register:active{
  color: #d8bf92;
}

.msg__signout__account{
 text-align: center;
 margin:  1em;
}

#container__avatar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 200px;
  height: 50px;
  background-color: #f7a20e;;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px #00000077;
}

.newImg__avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 2em;
}
#texto{
  cursor: pointer;
  color: #fff;
}

#input__img {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

#input__img:hover {
  color: #ffbe4d;
}