#form__register {
  display: flex;
  justify-content: center;
  padding-top: 3em;
 
}

.register__container{
    display: flex;
}

#container__avatar__register {
  display: flex;
  justify-content: center;
  display: block;
  background: #fff6e6;
  border: 5px dashed #ffbe4d;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}


.span__img__register{
  display: flex;
  justify-content: center;
  color:  #f7a20e;
  font-style: italic;
  font-size: 20px;
}

#input__img__register{
  width: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.file-input-label__register {
  position: relative;
  width: 100%;
}
#image__container__register{
  display: flex;
  justify-content: center;

}
.newImg__avatar__register {
  display: flex;
  justify-content: end;
  margin-top: 2em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.text-danger {
    color: #f7a20e !important;
}

.inputsRegister {
  background: #ffffff6c;
}


.custom__form__register {
    display:flex;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    gap: .3em;
    margin-bottom: 7em;
    padding: 1em;
    
}

.register__title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffd080;
    color: #f7a20e;
    font-weight: bold !important;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.msg__create__account {
    text-align: center;
    margin-top: 1em;
    color: #00000063;
}

.gender {
    margin-left: 2em;
}

.btn__register {
    color: #fff;
    background: #f7a20e;
    border: none;
  }
  .btn__register:hover {
    background: #ffbe4d;
  }
  .btn__register:active  {
    background: #d8bf92;
  }

.signin__register{
    color: #ffbe4d;
  }
  .signin__register:hover {
    color: #d8bf92;
  }

  #err__msg{
    color: rgba(255, 0, 0, 0.692);
    text-align: center;
    margin-top: 1em;
  }