#form__register {
  display: flex;
  justify-content: center;
  padding-top: 3em;
 
}

.register__container{
    display: flex;
}

#container__avatar__register {
  margin-left: 10em;
}

.text-danger {
    color: #f7a20e !important;
    margin: 0 !important;
    margin-right: 10em !important;
}

.inputsRegister {
  background: #ffffff6c;
}


.custom__form__register {
    display:flex;
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    gap: .3em;
    margin-bottom: 7em;
    padding: 1em;
    
}

.register__title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffd080;
    color: #f7a20e;
    font-weight: bold !important;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.msg__create__account {
    text-align: center;
    margin-top: 1em;
    color: #00000063;
}

.gender {
    margin-left: 2em;
}

.btn__register {
    color: #fff;
    background: #f7a20e;
    border: none;
  }
  .btn__register:hover {
    background: #ffbe4d;
  }
  .btn__register:active  {
    background: #d8bf92;
  }

.signin__register{
    color: #ffbe4d;
  }
  .signin__register:hover {
    color: #d8bf92;
  }

  #err__msg{
    color: rgba(255, 0, 0, 0.692);
    text-align: center;
    margin-top: 1em;
  }