
#uploadimg__container{
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    width: 100vw;
    /* background-color: red; */
}
#field__uploadImg{
    cursor: pointer;
    margin-right: 5em;
    padding: 2em;
    margin-top: 5em;
    width: 11.5rem;
}

#loading__img {
    margin-right: 5em;
    color: #ffbe4d;
}

.newImg__avatar {
    height: 150px;
    width: 150px;
    margin: 3em;
    max-width: 150px;
    border-radius: 50%;
  }
