

#expense__container {
    background: #ffffffae;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 3px solid rgb(255, 253, 253);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 3em;
}


#form__container__income {
    display: flex;
    flex-wrap: wrap;

}
.title_income {
    margin: 1em;
    padding: 1em;
    color: #f7a20e;
}
.title__label__income {
    color: #f7a20e;
}

.total__income {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 100%;
}

.custom__form__income  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2em;
    width: 25rem;
}

.select__category__income  {
    cursor: pointer;
    width: 10rem;
    margin-top: 2em;
}

#button__add {
    color: #fff;
    background: #f7a20e;
    border: none;
    margin-right: 8em;
}
#button__add:hover {
    background: #ffbe4d;
  }
#button__add:active  {
    background: #d8bf92;
  }

.amount {
    margin-top: 2em;
}

.date {
    margin-top: 2em;
}

#income__list__container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    padding: 1em;
}