
.main__container {
    display: flex;
    flex-direction: column;
    margin: 5em;
    margin-top: 7em;
    border: 3px solid rgb(180, 180, 180);
    border-radius: 10px;
}
.title_income {
    margin: 1em;
    padding: 1em;
    color: #f7a20e;
}
.title__label__income {
    color: #f7a20e;
}

.total__income {
    padding: 1em;
    max-width: 100vw;
}

.custom__form__income  {
    margin: 2em;
    margin-top: 2em;
    width: 25vw;
}

.select__category__income  {
    cursor: pointer;
    width: 10vw;
    margin-left: 14.5em;
    margin-top: 2em;
}

#button__add {
    margin-left: 8em;
    color: #fff;
    background: #f7a20e;
    border: none;
}
#button__add:hover {
    background: #ffbe4d;
  }
#button__add:active  {
    background: #d8bf92;
  }

.amount {
    margin-top: 2em;
}

.date {
    margin-top: 2em;
}