
.text-danger {
    color: #f7a20e !important;
    margin: 0 !important;
    margin-right: 10em !important;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 800px;
}

.custom__form__register {
    display: grid;
    gap: 0.5em;
    width: 25em;
}


.register__title {
    font-weight: bold !important;
    color: #f7a20e;
}

.avatar__register__title {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register__logo {
height: 75px;
width: 75px;
}

.add__name .add__birthdate .add__email .add__password .add__confirm__pasword{
    color: red !important;
}

.gender {
    margin-left: 2em;

}
.btn__register {
    color: #fff;
    background: #f7a20e;
    border: none;
  }
  .btn__register:hover {
    background: #ffc259;
  }
  .btn__register:active  {
    background: #d8bf92;
  }