
h1 {
    margin-left: 1em;
}

.dashboard__container {
    display: flex;
    flex-direction: column;
    margin: 5em;
    margin-top: 7em;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.chart__container {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    max-width: 800px;
}

.amount__container{
    margin-left: 2em;
}