#expense__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.expenseList__container {
    display: flex;
    background: #ffffff9f;
    flex-wrap: wrap;
    padding: 1em;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin-bottom: 1rem;

}
#items__expenses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: #f5f5f5;
    border: 2px solid #fff;
}


#dltExpense {
    color: #fff;
    background: #f7a20e;
    border: none;
}

#dltExpense:hover {
    background: #ffbe4d;
  }

#dltExpense:active {
    background: #d8bf92;
  }


.title__popup {
    color: #f7a20e;
}

.modal__header{
    background: #000000c9;
}

.modal__body {
    background: #000000d4;
}
#modal__footer{
    background: #000000c9;
}

.input__popup {
    border: 1px solid #fff;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.03);
}

.label__popup {
    font-size: 15px;
}

#btn__saveChanges{
    color: #fff;
    background: #f7a20e;
    border: none;
}

#btn__saveChanges:hover {
    background: #ffbe4d;
}
#btn__saveChanges:active {
    background: #d8bf92;
  }